.container
    display: flex
    background-color: white
    height: 6rem
    padding: 2rem 2rem 2rem 0
    align-items: center
    justify-content: center


.info 
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 1rem
    font-size: 1.5rem

.infoTitle
    font-style: italic

.contact
    color: #FCB23A

.details
    width: 80%
    display: grid
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr
    justify-items: center
    font-size: 1rem
    font-family: 'Comfortaa', cursive

img
    height: 5rem

.divider
    height: 1rem
    width: 0.2rem
    background-color: #FCB23A
    border-radius: 25%