<div class="container">
  <div><img src="assets/logos/Profile.png" /></div>
  <div class="info">
    <div class="infoTitle">
      <span class="contact">Contact me</span>
    </div>
    <div class="details">
      <div class="text">Oskari Friman</div>
      <span class="divider"></span>
      <div class="text">+81 70 1634 7676</div>
      <span class="divider"></span>
      <div class="text">
        <a class="email" href="mailto:oskari.frim@gmail.com">oskari.frim@gmail.com</a>
      </div>
    </div>
  </div>
</div>
