<div class="container">
  <div><img src="assets/logos/Profile.png" /></div>
  <div class="info">
    <div class="infoTitle">
      <span class="contact">Contact me</span>
    </div>
    <div class="details">
      <div class="text">{{ 'Oskari Friman' | translation: language }}</div>
      <span class="divider"></span>
      <div class="text"><a href="tel:+817016347676">+81 70 1634 7676</a></div>
      <span class="divider"></span>
      <div class="text">
        <a href="mailto:oskari.frim@gmail.com">oskari.frim@gmail.com</a>
      </div>
    </div>
  </div>
</div>
