@use 'global'

.container
    display: flex
    background-color: global.$white
    height: 6rem
    padding: 2rem
    align-items: center
    justify-content: center


.info
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 0.25rem

.infoTitle
    font-style: italic
    font-size: global.$font-normal
    @include global.for-tablet-landscape-up
        font-size: global.$font-medium
.contact
    color: #FCB23A

.details
    width: 90%
    display: grid
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr
    @include global.for-phone-only
        grid-template-columns: 4fr 1fr
    justify-items: center
    font-size: global.$font-small
    @include global.for-tablet-landscape-up
        font-size: global.$font-normal
    font-family: global.$font-confotaa

img
    height: 5rem

.divider
    height: 2rem
    width: 0.2rem
    background-color: global.$yellow
    border-radius: 25%
