<div
  class="container"
  *ngIf="activeRoute !== '/' || sticky"
  [ngClass]="{ sticky: sticky }">
  <div class="wrapper">
    <img class="icon" src="assets/logos/Logo.svg" (click)="onNavigateHome()" />
    <div class="buttons">
      <div
        class="button"
        (click)="onNavigateWork()"
        [ngClass]="{ active: sticky || activeRoute.includes('/work') }">
        <app-active-page
          [active]="sticky || activeRoute.includes('/work')"></app-active-page>
        Work
      </div>
      <div
        class="button"
        (click)="onNavigateInfo()"
        [ngClass]="{ active: activeRoute === '/info' }">
        <app-active-page [active]="activeRoute === '/info'"></app-active-page>
        Info
      </div>
      <div
        class="button"
        (click)="onSwitchLanguage()"
        [ngClass]="{ japanese: language === 'en' }">
        {{ language === 'en' ? '日本語' : 'Eng' }}
      </div>
    </div>
  </div>
</div>
