@use 'global'

.hero
    width: 100vw
    height: 26vw
    position: relative
    background-image: url("../../../assets/logos/HeroBackground.svg")
    background-repeat: no-repeat
    background-size: cover

.originalPosition
    position: absolute
    z-index: 2
    @include global.for-tablet-landscape-up
        visibility: visible
        left: 5rem
        top: 4rem
        width: 5rem
        height: 5rem
    &:hover
        cursor: pointer
    &:hover + img
        @include global.for-tablet-landscape-up
            left: 9rem
            top: 7rem


img
    position: absolute
    transition-duration: 400ms
    animation-timing-function: ease-out
    visibility: hidden
    @include global.for-tablet-landscape-up
        visibility: visible
        left: 5rem
        top: 4rem
        width: 5rem
        height: 5rem
