.hero 
    height: 20rem
    background-image: url("../../../assets/logos/HeroBackground.svg")
    background-size: cover
    position: relative

.originalPosition
    position: absolute
    left: 5rem
    top: 4rem
    width: 5rem
    height: 5rem
    z-index: 2
    &:hover
        cursor: pointer

img
    height: 15rem
    &.button
        position: absolute
        left: 5rem
        top: 4rem
        width: 5rem
        height: 5rem
        transition-duration: 400ms
        animation-timing-function: ease-out
