@use 'global'

.hero
    width: 100vw
    // min-height: 20rem
    background-image: url("../../../assets/logos/HeroBackground.svg")
    background-size: 100vw auto
    position: relative
    background-repeat: no-repeat
    height: fit-content
    @include global.for-phone-only
        min-height: 6rem
    @include global.for-tablet-portrait-up
        min-height: 12rem
    @include global.for-tablet-landscape-up
        min-height: 15rem
    @include global.for-desktop-up
        min-height: 22rem
    @include global.for-big-desktop-up
        min-height: 24rem

.originalPosition
    position: absolute
    z-index: 2
    @include global.for-tablet-landscape-up
        visibility: visible
        left: 5rem
        top: 4rem
        width: 5rem
        height: 5rem
    &:hover
        cursor: pointer
    &:hover + img
        @include global.for-tablet-landscape-up
            left: 9rem
            top: 7rem


img
    position: absolute
    transition-duration: 400ms
    animation-timing-function: ease-out
    visibility: hidden
    @include global.for-tablet-landscape-up
        visibility: visible
        left: 5rem
        top: 4rem
        width: 5rem
        height: 5rem
