<ng-container>
  <app-header></app-header>
  <div class="wrapper">
    <div class="container">
      <div>
        <img class="logo" src="assets/logos/InfoLogo.svg" />
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </div>
      </div>
      <img class="profile" src="assets/logos/ProfileBig.png" />
    </div>
    <img class="getInTouch" src="assets/logos/GetInTouch.svg" />
    <div class="contactDetails">+358 50 409 7676</div>
    <div class="contactDetails">oskari.frim<span>@</span>gmail.com</div>
  </div>
  <app-music-button></app-music-button>
</ng-container>
