<ng-container>
  <app-header></app-header>
  <div class="wrapper">
    <img
      class="button"
      src="assets/logos/ReturnButton.svg"
      (click)="onNavigateHome()" />
    <div class="video">video</div>
    <div class="desciption">
      <div class="website">etuovi.com</div>
      <div class="title">swaippaajat</div>
      <div class="details">
        Animated commercial made for social media platforms as well as outdoor
        advertising.
      </div>
      <br />
      <div class="details">Execution: me</div>
      <div class="details">Idea: me and Ilmari Lehtonen</div>
    </div>
  </div>
  <app-footer></app-footer>
</ng-container>
