<ng-container>
  <div class="wrapper" id="wrapper">
    <img
      class="button"
      src="assets/logos/ReturnButton.svg"
      (click)="onNavigateHome()" />
    <div style="padding: 70% 0 0 0; position: relative">
      <iframe
        id="iframe"
        [src]="video?.src | safe"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="{{ video?.title }}"></iframe>
    </div>
    <app-video-description [video]="video"></app-video-description>
  </div>
  <app-footer></app-footer>
</ng-container>
