@use 'global'

.wrapper
    padding: 2rem 2rem 2rem 0
    display: grid
    column-gap: 2rem
    grid-template-columns: 4rem 60vw 1fr
    align-items: center

.button
    height: 8rem

.video
    height: 40vw
    border: 1px solid global.$black

.desciption
    text-align: center

.website
    font-size: 3rem
    font-style: italic

.title
    font-size: 3rem
    font-style: italic
    color: global.$yellow
    padding-bottom: 1rem
    
.details
    font-family: global.$font-confotaa