@use 'global'

:host
    text-align: center

.website
    font-size: global.$font-medium
    @include global.for-tablet-landscape-up
        font-size: global.$font-large
    font-style: italic

.title
    font-size: global.$font-medium
    @include global.for-tablet-landscape-up
        font-size: global.$font-large
    font-style: italic
    color: global.$yellow
    padding-bottom: 1rem

.details
    font-family: global.$font-confotaa
    font-size: 1rem
    margin-bottom: 0.25rem
    font-size: global.$font-normal
    @include global.for-phone-only
      font-size: global.$font-small
    @include global.for-tablet-landscape-up
        font-size: global.$font-medium
    & > span
        font-weight: bold
