@use 'global'

:host
    text-align: center

.website
    font-size: 3rem
    font-style: italic

.title
    font-size: 3rem
    font-style: italic
    color: global.$yellow
    padding-bottom: 1rem
    
.details
    font-family: global.$font-confotaa