@font-face
    font-family: 'bulgers'
    src: url('../assets/fonts/bulgers.otf') format('opentype')
  
::ng-deep body
    font-family: 'Bulgers', Fallback, sans-serif !important
  
//   /* Responsive Styles */
//   @media screen and (max-width: 767px) {
//   }

//   @media screen and (max-width: 575px) {
//   }