<!-- <style>
  /* @font-face {
    font-family: 'Bulgers';
    src: url('assets/fonts/_Bulgers-Outline.otf') format('opentype');
  }

  *,
  h1 {
    font-family: 'Bulgers', Fallback, sans-serif !important;
  } */

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 575px) {
  }
</style> -->

<div>
  <app-hero></app-hero>
  <app-header></app-header>
  <app-section [title]="'Animation / Illustration'"></app-section>
  <app-section [title]="'Videography / Editing'"></app-section>
  <app-footer></app-footer>
  <app-music-button></app-music-button>
</div>

<router-outlet></router-outlet>
