@use 'global'

:host
    text-align: center

.getInTouch
    width: 30vw

.contactDetails
    padding-top: 0.75rem
    font-size: global.$font-normal
    font-weight: bold
    & > span
        color: global.$yellow