@use 'global'

.content
    margin-top: -5rem

.title
    width: 100%
    text-align: center
    font-size: 1.325rem
    font-family: global.$font-confotaa
    font-weight: bold
    & > span
        color: global.$yellow
        padding: 0 0.5rem
