// palette
$yellow: #FCB23A
$darkgreen: #00414C
$green: #00616B
$black: #000000
$white:#FFFFFF

//font
@font-face
    font-family: 'bulgers'
    src: url('./assets/fonts/bulgers.otf') format('opentype')

$font-confotaa: 'Comfortaa', cursive
$font-kosugi-maru: 'Kosugi Maru', sans-serif