<div class="info">
  <img class="logo" src="assets/logos/InfoLogo.svg" />
  <div class="description" *ngIf="language !== 'ja'">
    Hello and welcome to my slice of the internet! <br /><br />
    I’m an animation and video filmmaker from Finland currently living in Japan.
    <br /><br />
    My strengths lie in understanding the big picture and client's point of view
    in addition to my undying will to create the best visual content using (too
    many) different techniques. I also love digging deep into different subjects
    in order to help explain even abstract and difficult stuff.<br /><br />
    I started working professionally with video around 2015, and since then I
    have created videos full time for both Finnish and international clients.
    <br /><br />
    My wife would describe me as: “I don’t know, you are like a galaxy.”
    whatever it means... <br /><br />
    Let me know if I can help you with something!
  </div>

  <div
    class="description"
    *ngIf="language === 'ja'"
    [class.japanese]="language === 'ja'">
    1995年フィンランド生まれ。2015年よりフィンランドの映像制作会社でアニメーター・映像作家として活動。現在、広島を拠点に国内外でアニメーションCMを中心に制作している。
    <br /><br />
    思わず目がいってしあう動画を作りたい、商品やサービスをシンプルにわかりやすく説明したい時などに有効な２D・３Dアニメーション動画制作を得意とする。また、アニメーションを実写映像に挿入して、より印象に残る動画を作ることも可能。<br /><br />
    映像制作では構成 撮影 編集
    楽曲制作まで一連の行程を担当可能。様々な業界のクライエントに映像制作をした長い経験があり、動画の目的、クライエントのイメージを元に、どのような動画を作ると効果的か、最善なプランを提案することが得意。<br /><br />
  </div>
</div>
