<ng-container>
  <div class="info">
    <img class="logo" src="assets/logos/InfoLogo.svg" />
    <div class="description">
      Hello and welcome to my slice of the internet! <br /><br />
      I’m an animation and video filmmaker from Finland currently living in
      Japan. <br /><br />
      My strengths lie in understanding the big picture and clients point of
      view in addition to my undying will to create the best visual content
      using (too many) different techniques. I also love digging deep to
      different subjects in order to help explain even abstract and difficult
      stuff.<br /><br />
      I started working professionally with video around 2015 and since have
      have created videos full time for both Finnish and international clients.
      <br /><br />
      My wife would describe me as: “I don’t know, you are like a galaxy.”
      whatever it means... <br /><br />
      Let me know if I can help you with something!
    </div>
  </div>
  <img class="profile" src="assets/logos/ProfileBigger.png" />
</ng-container>
