@use 'global'

.info
    display: flex
    flex-direction: column
    align-items: center

.logo
    width: 80vw
    @include global.for-desktop-up
        width: 100%

.description
    text-align: left
    font-size: global.$font-small
    padding: 1rem 2rem
    @include global.for-tablet-portrait-up
      font-size: global.$font-medium
      padding: 2rem 3rem
