<div class="container">
  <ng-content></ng-content>
  <div class="contents">
    <div
      appCenteredItem
      class="content"
      *ngFor="let video of videos"
      (click)="onNavigateToVideo(video)">
      <img src="{{ video.thumbnailSrc }}" />
      <div class="frame">
        <div class="frameBorder">
          <div class="frameTexts">
            <div class="frameTitle client">{{ video.client }}</div>
            <div class="frameTitle">{{ video.title }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
