@use 'global'

.container
    display: flex
    flex-direction: column
    justify-content: center
    padding: 3rem 0 0
    &:hover
        cursor: pointer

.contents
    padding: 2rem 0
    display: grid
    grid-template-columns: 1fr 1fr 1fr

.content
    width: 100%
    height: -webkit-fill-available
    justify-self: center
    align-self: center

img
    height: 8rem