@use 'global'

.container
    display: flex
    flex-direction: column
    justify-content: center

.contents
    padding: 2rem 0
    display: grid
    @include global.for-phone-only
        grid-template-columns: 1fr
    @include global.for-tablet-portrait-up
        grid-template-columns: 1fr 1fr
    @include global.for-tablet-landscape-up
        grid-template-columns: 1fr 1fr 1fr
    @include global.for-desktop-up
        grid-template-columns: 1fr 1fr 1fr
    @include global.for-big-desktop-up
        grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: auto

.content
    width: 100%
    position: relative
    &.centered > .frame
        opacity: 1
    @include global.for-tablet-landscape-up
        &.centered > .frame
            opacity: 0
        &:hover
            cursor: pointer
        &:hover > .frame
            opacity: 1

$padding: 1.5rem
.frame
    opacity: 0
    transition: opacity 0.4s ease
    position: absolute
    top: 0
    left: 0
    width: calc(100% - $padding * 2)
    height: calc(100% - $padding * 2)
    padding: $padding
    display: flex
    justify-content: center
    align-items: center

.frameBorder
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    aspect-ratio: 1/1
    background-color: rgba(255,255,255,0.85)
    border-radius: 50%

.frameTexts
    padding: 0 0.5rem

.frameTitle
    word-break: break-word
    hyphens: manual
    width: 100%
    color: global.$yellow
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    font-size: global.$font-normal
    @include global.for-desktop-up
        font-size: global.$font-medium
    font-style: italic

.client
    color: global.$black


img
    width: 100%
    height: 100%
